@import "./base.css";

.navigation{
  display: block;
  width: 100vw;
  background-color: grey;
  height: 5vh;
}

.paintingCol{
  display: block;
  background-color: grey;
  margin: 8vh;
  height: 30vh;
}

.paintingRow{
  margin-top: 2vh !important;
  margin-bottom: 2vh;
}
.painting{
  background-color: red;
  height: 70%;
  margin: 5%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
