@import "./base.css";

.navigation{
  display: flex;
  width: 100vw;
  background-color: grey;
  height: 7vh;
}

.paintingCol{
  display: block;
  background-color: grey;
  margin: 8vh;
  height: 30vh;
}

.paintingInfoCol
{
  background-color: grey;
  margin: 3vw;
  height: 60vh;
  margin-top:5vh !important;
}

.lowLogo
{
  background-image: url(./pictures/Low-Resolution-Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation .lowLogo
{
  width: 100px;
  height: 7vh;
}

.searchbar
{
  width: 20%;
  margin: auto;
  position: relative;

}

.searchbar input
{
  border:none;
  display: block;
  box-sizing: border-box;
}

.searchbar .search
{
  background-image: url(./pictures/search.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.paintingRow{
  margin-top: 2vh !important;
  margin-bottom: 2vh;
}
.painting{
  background-color: red;
  height: 70%;
  margin: 5%;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
